<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">
				POI Dough
			</a>
			<form class="navbar-search pull-right">
				<input type="text" class="search-query" placeholder="Find Maps"/>
			</form>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<h2>Highlight Buildings</h2>
		<img src="http://i.imgur.com/Bb9Ed.png"/>
	</div>

	<div class="row">
		<h2 class="hero">Create Textures</h2>
		<img src="http://i.imgur.com/eD3r1.png"/>
	</div>

	<div class="row">
		<h2 class="hero">Import Data</h2>
	</div>
</div>

<% if @documents %>
  <h2>Search Results</h2>
  <ul>
    <% @documents.each do |document| %>
      <li>
        <a href="<%= document.pdf %>">
          <img src="<%= document.preview %>" />
          <%= document.pdf_filename %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>